<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<connectionStrings>
  <add name="SqlDbCS" connectionString="Server=NABEELS-WORK;Database=DemoLMS;User Id=Demo;Password=Nabeel30;MultipleActiveResultSets=True;"/>
</connectionStrings>
</configuration>